<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="SigmaDzuwenaliaXamarin.SigmaDzuwenaliaXamarin" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/AppTheme">
		<!-- Google Maps for Android v2 requires OpenGL ES v2 -->
		<uses-feature android:glEsVersion="0x00020000" android:required="true" />
		<!-- Necessary for apps that target Android 9.0 or higher -->
		<uses-library android:name="org.apache.http.legacy" android:required="false" />
		<!-- Permission to receive remote notifications from Google Play Services -->
		<!-- Notice here that we have the package name of our application as a prefix on the permissions. -->
		<uses-permission android:name="SigmaDzuwenaliaXamarin.SigmaDzuwenaliaXamarin.permission.MAPS_RECEIVE" />
		<permission android:name="SigmaDzuwenaliaXamarin.SigmaDzuwenaliaXamarin.permission.MAPS_RECEIVE" android:protectionLevel="signature" />
		<!-- These are optional, but recommended. They will allow Maps to use the My Location provider. -->
		<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
		<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
		<!-- Put your Google Maps V2 API Key here. -->
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyD0gXQf7a2ow0y1Odc6VzHzlV_ilwkltfk" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
</manifest>